/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.search-bar {
    text-align: center;
    padding: 25px;
    background: white;
    opacity: 0.9;
    position: fixed;
    width: 100%;
    z-index: 1;
}

ul li {
		list-style: none;
      list-style-position:inside;
}

.photo-gallery {
    max-width: 75%;
    margin: auto;
    padding-top: 100px;
}

.thumbnail {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    pointer-events: none;
}

#filter {
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    border: solid 2px lightgray;
    width: 80%;
    padding: 10px;
    opacity: 1;
}

input[type=text] {
    font-size: 16px;
}

.hidden {
    opacity: 0.4;
    transition: opacity .25s ease-in-out;
    pointer-events: none;
}

/* Overlay Styles */

#overlay, #overlayTwo {
    background: rgba(0, 0, 0, 0.77);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    text-align: center;
}

#overlayImage {
    width: 90%;
    border: solid 4px white;
    margin-top: 20%;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    width: 80%;
    margin: auto;
    margin-top: 15%;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 4px white;
}

#overlay p {
    color: lightgrey;
    font-size: 14px;
    margin: 20px;
}

#captionText {
    display: inline-block;
    text-align: center;
    width: 80%;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
}

#leftArrow, #rightArrow {
    position: fixed;
    cursor: pointer;
    z-index: 10;
    display: none;
}

#leftArrow {
    left: 5%;
    margin-top: 45%;
}

#rightArrow {
    right: 5%;
    height: 50px;
    margin-top: 45%;
}

/* Media Queries */

@media screen and (min-width: 480px) {

    .photo-gallery {
        max-width: 90%;
        margin: auto;
    }

    .thumbnail {
        display: inline-block;
        float: left;
        max-width: 30%;
        text-align: center;
        margin: auto;
        margin-right: 5%;
        margin-bottom: 5%;
        pointer-events: auto;
        box-shadow: 0px 0px 5px #999;
        border: solid 4px white;
    }

    li:nth-of-type(3n+3) > a > img {
        margin-right: 0;
    }


    #filter {
        width: 300px;
    }

    #overlayImage {
        width: 80%;
        margin-top: 15%;
    }

    #captionText {
        width: 50%;
    }

    #leftArrow {
        height: 50px;
        left: 2%;
        margin-top: 35%;
    }

    #rightArrow {
        height: 50px;
        right: 2%;
        margin-top: 35%;
    }

    #video {
        cursor: pointer;
    }

}



@media screen and (min-width: 768px) {

    li:nth-of-type(3n+3) > a > img {
        margin-right: 5%;
    }


    .thumbnail {
        display: inline-block;
        float: left;
        max-width: 21%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding-right: 0;
    }

    li:nth-of-type(4n+4) > a > img {
        margin-right: 0;
    }


    .photo-gallery {
        width: 80%;
    }

    #filter {
        width: 440px;
        padding: 10px;
    }

    #overlayImage {
        width: 70%;
        max-width: 650px;
        margin-top: 8%;
    }

    #leftArrow {
        margin-top: 25%;
        left: 6%;
        height: 70px;
    }

    #rightArrow {
        right: 6%;
        margin-top: 25%;
        height: 70px;
    }

    .video-wrapper {
        padding-bottom: 48%; /* 16:9 */
        width: 70%;
    }

    .video-wrapper iframe {
        margin-top: 10%;
    }


}